//
// Override global variables
//

// Theme colors
$primary:       									#AB54DB;
$primary-hover:    									#AB54DB;
$primary-light:    									#E1E9FF;
$primary-inverse:  									#FFFFFF;
